.range-slider {
  -webkit-appearance: none;
  outline: none;
  height: 8px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: yellow;
  border-radius: 50px;
}

.range-slider::-webkit-slider-runnable-track {
  background-color: #818181;
}

.range-slider::-moz-range-track {
  background-color: #818181;
}

.range-slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: yellow;
  border-radius: 50px;
}
