.card-item-container {
  background-color: purple;
  border: 2px dotted black;
  position: absolute;
  align-items: center;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .execution-bar {
    position: absolute;
    top: -10px;
  }

  .header {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid red;
  }
}
